.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 100vw;
  position: fixed;
  top: 0;
}

.navbar-section {
  display: inline-block;
  margin: 16px 0;
}

.navbar-logo {
  padding: 0 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

.navbar-logo-easy {
  color: black;
}

.navbar-link {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  margin-left: 16px;
}

.navbar-link-active, .navbar-link:hover {
  color: black;
}

.main-container {
  margin-top: 56px;
}
